*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    /* background-color: black; */
}

#output{
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    background-color: rgb(206, 206, 206);
    color: rgb(35, 68, 255);
    margin-bottom: 20px;
    height: 40px;
    width: 50vh;
}

.board{
    height: 50vh;
    width: 50vh;
    background-color: grey;
    display: grid;
    grid-template-columns: 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px;
    grid-template-rows:    20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px; 
  
}
.reset-box{
    background-color: rgb(255, 62, 28);
}

.box{
    display: inline-block;
    background-color: red;
    height: 20px;
    width: 20px;
    border: 0.5px solid rgb(255, 255, 255);
    /* border: none; */
}

.box:hover{
    background-color: rgb(250, 170, 156);
}

h2{
    background-color: rgb(206, 206, 206);
    color: rgb(12, 139, 0);
    /* font-style: italic; */
    margin-bottom: 1rem;
    height: 40px;
    width: 50vh;
    display: flex;
    align-items: center;
    justify-content:space-evenly;
}