* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
body {
  font-family: "Merriweather", serif;
  font-size: 0.9rem;
  font-style: normal;
  background-color: rgb(41, 38, 38);
  line-height: 1.6rem;
}

.letter {
  background-color: white;
  padding: 30px;
  margin: auto;
  margin-top: 20px;
  max-width: 600px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(0, 0, 0, 0.35) 0px -2px 6px 0px inset;
}

h2 {
  font-family: sans-serif;
}

address {
  padding: 10px 0px 10px 0px;
  font-style: normal;
}

p {
  margin: 5px 0px 5px 0px;
}
