.{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  background-image: url(./background.gif);
  background-repeat: no-repeat;
  background-size: cover;
}
.mainbox{
  width:545px;
  height:545px;
  background-color: #2F2F2B;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
  margin:50px 30%;
}
.childbox{
  width: 30px;
  background-color: #FF7129;
  height: 30px;
  margin: 1px;
}

.childbox:hover{
  background-color: rosybrown;
}
.white{
  background-color: white;
}
.green{
  background-color: yellowgreen;
}