*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    height: 100vh;
    width: 100vw;
    background-color: lightskyblue;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    flex-direction: column;
    /* position: fixed; */
}
#heading{
    margin-top: 20vh;
    height: 60px;
    width: 100vh;
    border: 2px solid white;
    background-color: lightseagreen;
    color: white;
    text-align: center;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* #btn{
    height: 40px;
    width: 120px;
    background-color: rgb(137, 211, 26);
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    margin-top: 2vh;
} */

#add-del{
    display: flex;
    margin-top: 10vh;
}

.todos{
    height: 50px;
    width: 80vh;
    border: 2px solid white;
    background-color: rgb(241, 131, 6);
    color: rgb(216, 216, 216);
    text-align: center;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    font-size: 20px;
    color: white;
    padding-left: 6px;
}


.add{
    height: 50px;
    width: 60px;
    background-color: rgb(0, 238, 12);
    color: white;
    border: 2px solid white;
    border-radius: 7px;
    margin-left: 5px;
    font-size: 20px;
    cursor: pointer;

}

.del{
    height: 50px;
    width: 60px;
    background-color: rgb(255, 47, 47);
    color: white;
    border: 2px solid white;
    border-radius: 7px;
    margin-left: 5px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    /* pointer-events: none; */
}

.check{
    height: 50px;
    width: 60px;
    background-color: rgb(64, 255, 47);
    color: white;
    border: 2px solid white;
    border-radius: 7px;
    margin-left: 5px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.add:hover{
    background-color: rgb(0, 211, 11);
}

.del:hover{
    background-color: rgb(206, 0, 0);
}

.p{
    font-size: 20px;
    width: 60vh;
    color: rgb(75, 75, 75);
    background-color: pink;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    padding: 5px;

}

#demo{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
    margin-right: 65px;
    /* background-color: rgb(209, 181, 181); */
    width: 50vh;
    height: 50px;
}

.div{
    display: flex;
    /* background-color: violet; */
    margin: 5px;
    transition: 0.5s;
}

.complete-line{
    opacity: 0.5;
    text-decoration: line-through;
}

.fall{
    transform: translateY(8rem) rotateZ(20deg);
    opacity: 0;
}


