.page {
  padding: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 55px);
  background-color: #eee;
}

.container {
  height: 350px;
  width: 500px;
  padding: 15px;
  overflow-y: scroll;
  background-color: whitesmoke;
  border-radius: 7px;
}

.container::-webkit-scrollbar {
  width: 7px;
  border-radius: 7px;
}

.container::-webkit-scrollbar-thumb {
  background-color: lightgray;
  border-radius: 7px;
}