* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

.container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.container header {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: black;
}

.box {
  min-height: 40vh;
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #3a2c98d4;
  border: none;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.box .btn {
  color: white;
  width: 2rem;
  height: 2rem;
  font-size: 25px;
  margin: 0 1rem;
  cursor: pointer;
  background-color: black;
  border: 1px solid black;
  border-radius: 5px;
}

.box .btn:hover {
  background-color: rgb(53, 53, 53);
  transition: 0.3s;
  transform: scale(1.1);
}

.box .btn:disabled {
  cursor: default;
}

.first,
.second,
.third,
.fourth {
  display: flex;
  margin-bottom: 2rem;
}

.fourth {
  margin-bottom: 0;
}
