*{
  margin:0;
  padding: 0;
}
body{
  
}
.container{
  display:flex;
  justify-content: center;
  align-items:center;
  height:100vh;
  width:100%;
  

}
.clock{
  width:600px;
  height:600px;
   border:5px solid #D4D4D4;
   border-radius:50%;
   background-color: red;
   display: flex;
   justify-content: center;
   align-items: center;
}
.inner{
  position: relative;
  width:500px;
  height:500px;
   border:5px solid grey;
   border-radius:50%;
   background-color:lightyellow;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction:column;
}
.sec{
  position: absolute;
  left:10px;
   width:230px;
   height:10px;
   background-color:rgb(211, 39, 188) ;
   animation-name: sec;
  animation-iteration-count: infinite;
  animation-duration:300s;
  transform-origin: bottom right;
   
  }
  @keyframes sec {
    100%{
      transform: rotate(360deg);
    
  }
}

.min{
  position:absolute;
  left:20px;
  width:230px;
  height:10px;
  background-color:brown;
  animation-name: min;
  animation-iteration-count: infinite;
  animation-duration:700s;
  transform-origin: bottom right;
 
}
@keyframes min {
  100%{
    transform: rotate(360deg);
    
  }
}
.hour{
  width:230px;
  position:absolute;
  left:20px;
  height:10px;
  background-color:cornflowerblue;
  animation-name: hour;
  animation-iteration-count: infinite;
  animation-duration:900s;
  transform-origin: bottom right;
  
}
@keyframes hour {
  100%{
    transform: rotate(360deg);
    
    
  }
  
}
.origin{
  display: flex;
  justify-content: center;
  align-items: center;
  border:25px solid tomato;
  border-radius: 50%;
  z-index:1;
}

.twelve{
  position: absolute;
  top:20px;
  font-size:25px;
}
.nine{
  position: absolute;
  top:220px;
  left:30px;
  font-size:25px;
}
.three{
  position: absolute;
  top:220px;
  right: 30px;
  font-size:25px;
}
.six{
  position: absolute;
  bottom:20px;
  font-size:25px;

}
