* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.App {
  text-align: center;
}
.container {
  width: 80vh;
  margin: auto;
  margin-top: 50px;
  height: 100vh;
  color: rgb(138, 19, 19);
  text-shadow: 0px 10px 2px rgba(0, 0, 0, 0.1), 5px 10px 2px rgba(0, 0, 0, 0.05),
    -5px 10px 2px rgba(0, 0, 0, 0.05);
}
header {
  text-align: center;
  font-size: 1.3rem;
  margin: 30px;
}
.tickets {
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.canvas {
  width: 100%;
  height: 50vh;
  margin: 20px auto;
  border-radius: 5px;
  background-color: rgb(177, 65, 46);
  display: grid;
  grid-template-columns: repeat(6, auto);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.resetBtn {
  display: flex;
  justify-content: flex-end;
}
.resetBtn button {
  size: 1.3rem;
  padding: 10px;
  border: 2px solid rgb(109, 107, 107);
  border-radius: 5px;
  box-shadow: rgba(252, 101, 75, 0.25) 0px 54px 55px,
    rgba(252, 101, 75, 0.12) 0px -12px 30px,
    rgba(252, 101, 75, 0.12) 0px 4px 6px, rgba(252, 101, 75, 0.17) 0px 12px 13px,
    rgba(252, 101, 75, 0.09) 0px -3px 5px;
}

.resetBtn button:hover {
  transform: scale(1.1);
}

button {
  border-style: none;
  border-radius: 0px;
}
.box {
  text-align: center;
  background-color: rgb(124, 124, 124);
  border-radius: 1.5px;
}

.box:hover {
  background-color: rgb(163, 41, 19);
}

.light {
  background-color: tomato;
  border: 1px solid rgb(219, 55, 26);
}

.dark {
  background-color: rgb(117, 24, 8);
  border: 1px solid rgba(223, 221, 221, 0.897);
  border-radius: 10px;
}
