.App {
  display: flex;
  justify-content: center;
  margin-top: 150px;
}

.chessBoard {
  height: 600px;
  width: 600px;
  border: 10px solid brown;
  display: grid;
  grid-template-rows: repeat(10, 1fr);
}

.Rows,
.Rows2 {
  display: flex;
  height: 10px;
  width: auto;
  border: 1px solid black;
}
.square {
  height: 25px;
  width: 25px;
  border: 1px solid black;
}

.black {
  background-color: black;
}