*{
 margin:0;
 padding: 0;
}
body{
  color: #2A3967;
}
content{
  display: flex;
  align-items: center;
  border: #547C9A 2px solid;
  margin:  -22px  50px 5px;
  width:50%;
  position: relative;
  left:20%;
  top: 80px;
}
.box2{
  border-left:3px solid #547C9A;
  padding: 30px;
}
.box1 {
  padding:30px ;
}
header{
  text-align: center;
  position: absolute;
  top: 5%;
    left: 37%;
    background-color: white;
    z-index: 1;
    padding-left: 84px;
    padding-right: 71px;
}
.box1 p{
  text-align: left;
}
.box2 p{
  text-align: left;
}
.box1 h3{
  padding-top: 20px;
}
.box2 h2{
  padding-top: 20px;
}
.box2 h3{
  padding-top: 10px;
}