*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background-color: black;
}

.board{
    height: 50vh;
    width: 50vh;
    background-color: tomato;
    display: grid;
    grid-template-columns: 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px;
    grid-template-rows:    20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px; 
  
}

.box{
    display: inline-block;
    background-color: rgb(255, 62, 28);
    height: 20px;
    width: 20px;
    border: 0.5px solid rgb(255, 91, 62);
}

.white{
    background-color: white;
}

.green{
    background-color: yellowgreen;
}


.box:hover{
    background-color: rgb(250, 170, 156);
}